.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 292px;
    /* border: 3px solid red; */
}

/* <<< Header >>> */

header{
    max-width: inherit;
    width: inherit;
    padding: 47px 80px 47px 64px;
    background-color:  #13345B;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* border: 3px solid rgb(98, 36, 177); */
}

.header_logo{
    height: 206px;
}

.header_nav_elements{
    display: flex;
    gap: 52px;
    font-family: 'Inter'; 
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
}

.home,
.product,
.contact{
    color: #FDD504;
}

li a:hover{
    border-bottom: 2px solid #FDD504;
    padding-bottom: 25px;
}

.header_icons{
    color: #FDD504;
    font-size: 2.25rem;
    display: flex;
    gap: 28px;
}

/* <<< Main >>> */

main{
    width: 100%;
    height: 1552px;
    padding: 58px 108px 76px 108px;
    background-color: #FFFFFF;
}

.home_bk{
    background-image: url("../images/background_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.product_bk{
    background-image: url("../images/product_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(20%);
}

main h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: #13345B;
    margin-bottom: 139px;
}


.full_name{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 152px;
}

.age_mail{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 152px;
}

#name,
#age,
#lastname,
#email{
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 5px solid #15C1E7;
    margin-top: 24px;
    font-size: 1.5rem;
    width: 536px;
}

#name,
#lastname{
    margin-bottom: 62px;
}

.full_name label,
.age_mail label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #13345B;
}

.schedule{
    margin-top: 194px;
    margin-bottom: 111px;
}

.schedule,
.language,
.choose{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3,
h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #15C1E7;
    margin-right: 96px;
}

.schedule label,
.language label{
    gap: 115px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    color: #13345B;
    width: 437px;
}

input[type="radio"],
input[type="checkbox"]{
    width: 36px;
    height: 36px;
}

.choose{
    margin-top: 111px;
    margin-bottom: 166px
}
.choose h4{
    width: 541px;
}

#choose input{
    width: 218px;
    height: 61px;
}




/* <<< Footer >>> */

footer{
    width: 100%;
    padding: 110px 80px 110px 19px;
    background-color:  #13345B;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid rgb(98, 36, 177); */
}

.footer_logo{
    height: 199px;
}

.footer_icons_div{
    font-size: 4rem;
    display: flex;
    gap: 69px;
}

.fa-square-facebook{
    color: #15C1E7;
}

.fa-instagram{
    color: #FB0110;
}

.fa-twitter{
    color: #75A1F3;
}

.fa-youtube{
    color:#FDD504;
}

.fa-square-facebook:hover,
.fa-twitter:hover{
    cursor: pointer;
    transform: skewY(45deg);
    transition-duration: 1.5s;
}

.fa-instagram:hover,
.fa-youtube:hover{
    cursor: pointer;
    transform: skewX(45deg);
    transition-duration: 1.5s;
}

