.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    /* border: 3px solid red; */
}

/* <<< Header >>> */

header{
    width: 100%;
    padding: 47px 80px 47px 64px;
    background-color:  #13345B;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid rgb(98, 36, 177); */
}

.header_logo{
    height: 206px;
}

.header_nav_elements{
    display: flex;
    gap: 52px;
    font-family: 'Inter'; 
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
}

.home,
.product,
.contact{
    color: #FDD504;
}

li a:hover{
    border-bottom: 2px solid #FDD504;
    padding-bottom: 25px;
}

.header_icons{
    color: #FDD504;
    font-size: 2.25rem;
    display: flex;
    gap: 28px;
}

/* <<< Main >>> */

.registration{
    width: 100%;
    height: 1552px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    padding: 58px 108px 76px 108px;
    background-color: #FFFFFF;
}

.home_bk{
    background-image: url("../images/background_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
}

.product_bk{
    background-image: url("../images/product_photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(20%);
}

.regist_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    color: #13345B;
    /* text-align: center;
    margin: 59px auto; */
    /* display: flex;
    flex-wrap: wrap; */
    margin-bottom: 139px;

}


.form_top{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 152px;
}

.top_left,
.top_right{
    width: 45%;
}

#name,
#age,
#lastname,
#email{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 5px solid #15C1E7;
    margin-top: 24px;
    font-size: 1.5rem;
    width: 536px;
}

#name,
#lastname{
    margin-bottom: 62px;
}

.form_top label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #13345B;
}

.form_bottom{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 194px;
}

.schedule,
.language,
.choose{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_bottom label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #15C1E7;
}

.language{
    margin-top: 111px;
    margin-bottom: 111px;
}

.schedule label,
.language label{
    width: 437px;
}

.choose label{
    width: 700px;
}

#schedule[Full-Time],
#language[Angular]{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    color: #13345B;
}



/* <<< Footer >>> */

footer{
    width: 100%;
    padding: 110px 80px 110px 19px;
    background-color:  #13345B;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 3px solid rgb(98, 36, 177); */
}

.footer_logo{
    height: 199px;
}

.footer_icons_div{
    font-size: 4rem;
    display: flex;
    gap: 69px;
}

.fa-square-facebook{
    color: #15C1E7;
}

.fa-instagram{
    color: #FB0110;
}

.fa-twitter{
    color: #75A1F3;
}

.fa-youtube{
    color:#FDD504;
}